{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Questions{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
  <nav class='navbar-fixed-top'>
  {{nav.guest_navbar.render()}}
  </nav>
{% endblock %}

{% block content %}
<body>
    <header class='page-header'><h3>Random Questions</h3></header>
    {% for question in questions %}
    <div id="questionSection{{question.id}}" class='questionbox'>
            <p class="well">{{ question.question }} </p>
                <div class="row">
                    <form question_id="{{question.id}}">
                        <div class="col-md-6">
                            {% for choices in question.choices.split(', ') %}
                            <div>
                                <label for="{{question.id}}{{choices.split(' ')[0]}}" style='font-weight: 400;'>
                                <input type="radio" id="{{question.id}}{{choices.split(' ')[0]}}" name="choicesFor{{question.id}}" value="{{choices.split(' ')[0]}}" required>
                                <span class="wrappable">{{choices}}</span>
                                </label>
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-sm btn-primary" id="submitButton{{question.id}}" style='margin-top: 1%;'>Answer</button>
                        </div>
                    </form>
                </div>
            <hr>      
    </div>
    {% endfor %}
</body>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='guest.js') }}"></script>
{% endblock %}