{% extends "bootstrap/base.html" %}

<title>{% block title %}{% endblock %}</title>

{% block head %}
    {{ super() }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"
        type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
        type="image/x-icon">
    <style>
        * {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
{% endblock %}

{% block content %}
{% endblock %}
