{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {{ super() }}
  {% block title %}Tester{% endblock %}
{% endblock %}

{% block navbar %}
  <nav class='navbar-fixed-top'>
  {{nav.main_navbar.render()}}
  </nav>
{% endblock %}

{% block content %}
<div class="back">
  <div class="div-center login">
    <div class="content">
      <h3>Tester</h3>
      <hr>
        <div class="form-group">
        {{ wtf.quick_form(form) }}
        <hr>
        {% if current_user.is_administrator() %}
        <a class="btn btn-danger center-block"
            href="{{ url_for('.addquestionform') }}">
            Add Question [Admin]
        </a>
        {% endif %}
        </div>
    </div>
  </div>
</div>
{% endblock %}
